* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sa-title{
  margin-left: auto;
    margin-right: auto;
    display: block;
}


body {
  height: 100vh;
  display: flex;
  background-image: url("assets/background.png");
  background-size:cover;
  
}


.memory-game {
  width: 640px;
  height: 640px;
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  /* perspective: 1000px; */
 
  margin-left: auto;
  margin-right: auto;
  
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: rgb(218, 41, 138);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}


/* .container {
  width: 200px;
  height: 260px;
  position: relative;
  border: 1px solid #ccc;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
} */

.card div {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
background: red;
}
.card .back {
  background: rgb(218, 41, 138);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
